<!DOCTYPE html>
<html>
  <head>
    <title>Braino</title>
    <link rel="stylesheet" type="text/css" href="application.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="application.js"></script>
  </head>
  <body>
    <div id="banner">
      <h1>braino</h1>
    </div>
    <div id="box">
      <div id="input">
        <%= yield %>
      </div>
      <div id="output">
        <img src="brain_meme.jpg">
      </div>
    </div>
  </body>
</html>
