<!DOCTYPE html>
<html>
  <head>
    <title>Braino</title>
    <link rel="stylesheet" type="text/css" href="application.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="application.js"></script>
  </head>
  <body>
    <div id="input">
      <%= yield %>
    </div>
    <div id="output">
      <img src="">
    </div>
  </body>
</html>
