<p>
  <label for="brain_1">Brain 1</label><br>
  <textarea v-model="brain_1" id="brain_1"></textarea>
</p>

<p>
  <label for="brain_2">Brain 2</label><br>
  <textarea v-model="brain_2" id="brain_2"></textarea>
</p>

<p>
  <label for="brain_3">Brain 3</label><br>
  <textarea v-model="brain_3" id="brain_3"></textarea>
</p>

<p>
  <label for="brain_4">Brain 4</label><br>
  <textarea v-model="brain_4" id="brain_4"></textarea>
</p>

<p>
  <button v-on:click="generate" value="Generate">Generate</button>
</p>
