<p>
  <textarea v-model="brain_1" id="brain_1"></textarea>
</p>

<p>
  <textarea v-model="brain_2" id="brain_2"></textarea>
</p>

<p>
  <textarea v-model="brain_3" id="brain_3"></textarea>
</p>

<p>
  <textarea v-model="brain_4" id="brain_4"></textarea>
</p>

<p>
  <button v-on:click="generate" value="Generate">Generate</button>
</p>
